@import "~bootstrap/scss/bootstrap";

body {
  background-color: aliceblue;
}

.hide {
  display: none;
}

.fa-plus:hover {
  text-decoration: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}